<html>
	<head>
		<title>{{titulo}}</title>
		<script src="jquery-2.0.3.min.js"></script>
		<script src="underscore-min.js"></script>
		<script src="backbone-min.js"></script>
		<script src="main.js"></script>
		<script src="home.js"></script>
		<script src="utils.js"></script>
		<script src="router.js"></script>
		<script src="personaListView.js"></script>
		<script src="persona.js"></script>
	</head>
	<body>
		Hola Mundo 2
		<button id="conectar">Conectar</button>
		<br/><br/>
		<div id="content"></div>
		<div id="personaslst"></div>
	</body>
</html>