<div id="personaTmpl">

<div>
    <label for="name">Cedula:</label>
    <div>
        <input type="text" id="Cedula" name="Cedula" value="<%= Cedula %>"/>
    </div>
</div>

<div>
    <label for="name">Nombre:</label>
    <div>
        <input type="text" id="Nombre" name="Nombre" value="<%= Nombre %>"/>
    </div>
</div>

<div>
    <label for="name">Apellido:</label>
    <div>
        <input type="text" id="Apellido" name="Apellido" value="<%= Apellido %>"/>
    </div>
</div>

<div>
    <button class="save">Save</button>
    <button class="cancel">Cancel</button>
</div>

</div>